	<p>Step 1: Manager Profile -> <strong>Step 2: CSA Profile</strong> -> Step 3: Add Farm</p>
<h1>2. Complete Your CSA Profile.</h1>	
<p>To complete your CSA profile you will need to provide some basic information and write a description of your community.</p>
<% form_for :csa, :url => csas_path do |f| -%>
	<%= render :partial => 'form', :locals => {:f => f} %>


	<p><%= submit_tag 'Save and Add Farm' %></p>


<% end -%>

