<p>Step 1: CSA Manager Profile -> <strong>Step 2: CSA Profile</strong> -> Step 3: Add Farm</p>

<h2>Create Your CSA</h2>	

<p>Required fields are highlighted in <strong>bold</strong>.</p>

	<% form_for :csa, :url => csas_path do |f| -%>
	<%= render :partial => 'form', :locals => {:f => f, :edit => false} %>


	<p><%= submit_tag 'Save and Add Farm' %></p>


<% end -%>

