<h2>Update information about your offering</h2>
<%= form_for :offering, :url => vendor_url(@offering.vendor), :html => {:method => :put} do |f| -%>
  
 <%= render :partial => 'form', :locals => {:offering => @offering} %>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>