<h2>Add a new Vendor Offering for <%= @csa %></h2>
<%= form_for :offering, :url => csa_offerings_url, :method => :post do |f| -%>
  
 <%= render :partial => 'form' %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>