body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(../images/bg.jpg) repeat-x;
	font: normal small Helvetica, sans-serif;
	line-height: 1.8em;
	text-align: center;
}

#container {
	width: 750px;
	margin: 0 auto;
}

#header {
	width: 100%;
	height: 50px;
	padding-top: 10px;
}

#menu {
	text-align: left;
	width: 100%;
	height: 60px;
	margin-bottom: 30px;
}

#content {
	width: 100%;
	text-align: left;
}

#footer {
	padding-top: 10px;
	padding-bottom: 1px;
	margin-bottom: 10px;
	width: 100%;
	background-color: #96ca7f;
}

/*	FONTS
_______________________________________________________ */

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, serif;
	font-weight: normal;
	color: #376646;
}

h1 {
	font-size: 28px;
	margin-bottom: 20px;
}

h2 {	
	font-size: 22px;
	margin-bottom: 12px;
}

h3 {
	margin-bottom: 1em;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .9em;
	font-weight: bold;
}

p, blockquote, ul, ol {
	margin-top: 0;
}

blockquote {
	padding: 0 0 0 40px;
	background: url(../images/img11.gif) no-repeat;
	font: italic small Helvetica, Arial, serif;
	line-height: 1.6em;
}

a {
	/*background: url(../images/img03.gif) repeat-x left bottom;*/
	text-decoration: none;
	color: #468259;
}

a:hover {
	background: none;
	text-decoration: underline;
}

/*	MENU STYLING
_______________________________________________________ */

#menu ul {
	margin: 0;
	padding: 0;
	padding-top: 25px;
	list-style: none;
}

#menu li {
	display: block;
	float: left;
	margin-right: 50px;
	/*background: url(../images/img02.gif) no-repeat;*/
}

#menu a {
	display: block;
	letter-spacing: -1px;
	font: normal 1.3em Helvetica, Arial, serif;
	color: #eee;
}

#menu a:hover {
	text-decoration: underline;
}

#menu .active a {
	border-bottom: 4px solid #E1E9E2;
	text-decoration: none;
	color: #54b539;
}

#menu a.active, #menu a:hover.active {
	background: #E1E9E2;
	border-bottom: 4px solid #E1E9E2;
	text-decoration: none;
	color: #54b539;
}

/*	HEADER STYLING	
_______________________________________________________ */

#header h1 {
	float: left;
	height: 47px;
	line-height: 32px;
	font-size: 30px;
}

#header h2 {
	height: 47px;
	text-transform: lowercase;
	text-align: right;
	letter-spacing: -1px;
	font-size: 14px;
}

/*SIGNUP LOGIN BOX
_______________________________________________________ */
#rightbox {
	float: right;
	width: 40%;
}

#leftbox {
	float: left;
	width:60%;
}





/*	LINKS
_______________________________________________________ */

#links {
	float: right;
	width: 220px;
}

#links ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#links li ul {
	padding: 15px 20px 30px 20px;
	background: url(../images/img10.gif) repeat-x
}

#links li li {
	padding: 3px 0;
	background: url(../images/img03.gif) repeat-x left bottom;
}

#links li a {
	background: none;
}

#links li i {
	font-size: smaller;
}

/*	FOOTER STYLING
_______________________________________________________ */

#footer p {
	font-weight: bold;
	color: #eee;
}





.offering {
	border:#ccc 1px solid;
//	margin: 10px auto;
//	padding: 10px 0 0 10px;
	/* float: left; */
	
	float: left;
	width: 45%;
	height: 250px;
}

.offeringGuts {
	display: none;
}

table.membertable 
{
	width: 100%;
	border-width: 1px;
	border-spacing: ;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
}

table.membertable th
{
	margin: 10px auto;
	font-size: 14px;
	font-weight: bold;	
	text-align: left;
	text-transform:uppercase;
	border-width: 1px;
	padding: 0px;
	border-color: red;
}

table.membertable td 
{
	border-width: 1px;
	padding: 0px;
	border-color: gray;
	border:#ccc 1px solid;
	padding: 10px 0 0 10px;
	text-align: left;
	vertical-align:text-top;
}

td.tbname
{
	width:25%;
}

td.tbshare{
	width:auto;
}

td.tbpayment
{
	width:15%;
}

/*	TABS
_______________________________________________________ */

.tabbox
{
	width: 100%;
	margin-top: 30px;
}



.tabnav 
{
	margin-left: 0px;
	padding-left: 0px;
}

.tabnav li 
{
	display: inline;
	list-style: none;
	padding-right: 5px;
}

.tabnav li a 
{
	text-decoration: none;
	color: #222;
	font-weight: bold;
	padding: 4px 6px;
	outline: none;
}
	
.tabnav li a:hover, .tabnav li a:active, .tabnav li.ui-tabs-selected a 
{
	background: #91c77a;
	text-decoration: none;
}

.ui-tabs-hide 
{
	display: none;
}


/* Posts*/
#posts {
	float: left;
	width: 510px;
}

#posts .post {
	padding-bottom: 30px;
}

#posts .story {
	padding: 15px 20px 0 20px;
	background: url(../images/img10.gif) repeat-x
}

#posts .meta {
	padding: 5px 0 0 20px;
	background: url(../images/img03.gif) repeat-x;
}

#posts .meta p {
	margin: 0;
	line-height: normal;
	font-size: smaller;
}

#posts ul {
	list-style: url(../images/img12.gif);
}

#posts ul li {
} 


