body {
	margin: 0;
	padding: 0;
	background: #749865 url(../images/bg.gif) repeat-x;
	font: normal small Helvetica, sans-serif;
	line-height: 1.8em;
	color: #838b91;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, serif;
	font-weight: normal;
	color: #468259;
}

h2 {
/*	padding-left: 20px;*/	
	font-size: 22px;
}

h3 {
	margin-bottom: 1em;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .9em;
	font-weight: bold;
}

p, blockquote, ul, ol {
	margin-top: 0;
}

blockquote {
	padding: 0 0 0 40px;
	background: url(../images/img11.gif) no-repeat;
	font: italic small Helvetica, Arial, serif;
	line-height: 1.6em;
}

a {
	background: url(../images/img03.gif) repeat-x left bottom;
	text-decoration: none;
	color: #468259;
}

a:hover {
	background: none;
	text-decoration: underline;
}

/* Wrapper */

#wrapper {
	padding: 12px 0 0 0;
	background: #FFFFFF url(../images/img04.gif) repeat-x left bottom;
}

/* Menu */

#menu {
	width: 750px;
	height: 60px;
	margin: 0 auto;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: block;
	float: left;
	width: 148px;
	height: 60px;
	padding: 0 0 0 2px;
	background: url(../images/img02.gif) no-repeat;
}

#menu a {
	display: block;
	width: 108px;
	height: 36px;
	padding: 20px 20px 0 20px;
/* 	background-image: url(images/img08.gif); */
	letter-spacing: -1px;
	font: normal 1.3em Helvetica, Arial, serif;
	color: #eee;
}

#menu a:hover {
/* 	color: #60ba3b; */
background: #E1E9E2;
border-bottom: -4px solid #E1E9E2;
text-decoration: none;
color: #54b539;
}

#menu .active a {
/*	background: #E1E9E2;
*/	border-bottom: 4px solid #E1E9E2;
	text-decoration: none;
	color: #54b539;
}

#menu a.active, #menu a:hover.active {
	background: #E1E9E2;
	border-bottom: 4px solid #E1E9E2;
	text-decoration: none;
	color: #54b539;
}


/* Header */

#header {
	width: 754px;
/* 	height: 247px; */
	margin: 0 auto;
	padding: 13px 0 0 0;
}

#header h1 {
	float: left;
/* 	width: 104px; */
	height: 47px;
/* 	padding: 104px 100px 0 20px; */
/* 	background: url(images/img05.jpg) no-repeat; */
	line-height: 32px;
	font-size: 30px;
}

#header h2 {
/* 	float: right; */
/* 	width: 494px; */
	height: 47px;
/* 	padding: 180px 20px 0 0; */
/* 	background: url(images/img06.jpg) no-repeat; */
	text-transform: lowercase;
	text-align: right;
	letter-spacing: -1px;
	font-size: 14px;
/* 	color: #FFFFFF; */
}

/* Content */

#content {
	width: 750px;
	margin: 0 auto;
}

/* Posts */

#posts {
	float: left;
/*	width: 510px;
*/	width: 754px;
}

#posts .post {
	padding-bottom: 30px;
}

#posts .story {
	padding: 15px 20px 0 20px;
	background: url(../images/img10.gif) repeat-x
}

#posts .meta {
	padding: 5px 0 0 20px;
	background: url(../images/img03.gif) repeat-x;
}

#posts .meta p {
	margin: 0;
	line-height: normal;
	font-size: smaller;
}

#posts ul {
	list-style: url(../images/img12.gif);
}

#posts ul li {
}

/* Links */

#links {
	float: right;
	width: 220px;
}

#links ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#links li ul {
	padding: 15px 20px 30px 20px;
	background: url(../images/img10.gif) repeat-x
}

#links li li {
	padding: 3px 0;
	background: url(../images/img03.gif) repeat-x left bottom;
}

#links li a {
	background: none;
}

#links li i {
	font-size: smaller;
}

/* Footer */

#footer {
	padding: 40px 0 60px 0;
	background: url(../images/img08.gif) repeat-x;
}

#footer p {
	width: 750px;
	color: #A6C09B;
}

#footer a {
	background: none;
	font-weight: bold;
	color: #A6C09B;
}

#legal {
	margin: 0 auto;
	text-align: right;
	font-size: 12px;
}

#brand {
	margin: -35px auto 0 auto;
	padding: 10px 0 0 35px;
	background: url(../images/img09.gif) no-repeat left top;
	letter-spacing: -1px;
	font-size: 24px;
}