<hr>
<h1>Dashboard</h1>
<h3>Welcome, <%= current_user %>!</h3>

<!-- <style > -->

<table border="1">
	<tr>
		<td width=auto><strong><h2>[Shares]</h2></strong></td>
		<td width=auto><strong><h2>[Calendar]</h2></strong></td>
		<td width=auto><strong><h2>[Work]<h2></strong></td></b>
	</tr>
	<tr>
		<td width=auto>
			Pie Chart Here generated from the following data
			<h4>Deposit Paid:
			<p>Fully Paid:
			<p>Total:
			<p>
			<p>Full Farm Share: 
			<p>Half Farm Share: 	
			<p>Extras:
			</h4>
			<button type="button">View Full Member List</button>
			<!-- <a href="#"><p>View Full Member List</a> -->
				
		</td>
		<td width=auto>
			($num) weeks left in season
			<h4>Upcoming CSA Event:</h4> 
			<p>title
			<p>date
			<p>location
			
			<h4>Next Core Group Meeting:</h4>
			<p>title
			<p>date
			<p>location
			<p><button type="button">Manage Calendar</button>
			<!-- <a href="#"><p>Manage Calendar</a> -->
		</td>
		<td width=auto>
			<h4>Workshift</h4>
		</td>
	</tr>
</table>