<h1>Welcome to FarmBridge, Biggie ($user)</h1>
<!-- 
Session Check:
First time users will automatically get directed to the FIRST TIME AROUND? display message below.
Returning core manager users see:
-->

<!-- 	The content of this page will vary based on whether the user has already set-up a CSA 
		This page will provide relevant content to CSA managers based on their current needs (CSA set-up, member tracking, etc) 
		The content sample below assumes this is a new user who has not yet set-up a CSA
-->

<h2>First Time Around?</h2>
<p>Setting up a CSA on FarmBridge is easy. Learn how by watching this short instructional video [Video to Go Here].

<h2>Ready? Set Up Your CSA in Three Easy Steps </h2>
If you are ready to get started setting up your CSA <a href="http://localhost:3000/csas/new">jump into step 1</a>.


<!-- do we need to list everyone in FarmBridge?
<h1>All Users</h1>

<ul>
<% for user in User.all %>
  <li><%= user.login %></li>
<% end %>
</ul>
-->