<h1>Welcome to FarmBridge, Biggie ($user)</h1>

<h2> First time around?</h2>
<p>Explain instructions that walk-through the site. 
<p>Instructional video in the making.

<h2>Set up your CSA in a few steps! </h2>
<a href="http://localhost:3000/csas/new"> Set up CSA</a>



<!-- do we need to list everyone in FarmBridge?
<h1>All Users</h1>

<ul>
<% for user in User.all %>
  <li><%= user.login %></li>
<% end %>
</ul>
-->