<% if logged_in? -%>
	<h1>Welcome Back to FarmBridge</h1>
	<br>
	<h2>Ready to Finish Your Set-Up?</h2>
	<p>You have only two steps to go. <%= link_to "Start by completing your CSA profile.", new_csa_url  %></p> 


<% else -%>
	<h1>Welcome to FarmBridge</h1>
	<br>
		<h2>Helping your CSAs thrive</h2>
		<p>FarmBridge offers CSA communities tools that helps core groups members manage memberships, subscriptions and work shifts. <a href="sample.html">Learn more about how FarmBridge can help your CSA thrive. </a></p> 

		<h2>It's easy to get started</h2>
		<p>In three easy steps you can set-up your CSA.</p>
		<ol>
			<li>register as a CSA manager</li>
			<li>complete a CSA profile</li>
			<li>add your CSA offerings</li>
		</ol>
		<p>Now you're ready to get started. <%= link_to "Sign-up on FarmBridge and set-up your CSA.", signup_url %> </p>
		<p>[VIDEO SPACE HOLDER]</a></p>
		

<% end -%>
