<% if logged_in? -%>
	<h1>Welcome Back to FarmBridge</h1>
	<br>
	
	<% csa = Member.managed_csa_for_user(current_user) 
	if csa.blank? %>
		<h2>Ready to Finish Your Set-Up?</h2>
		<p>You have only two steps to go. <%= link_to "Start by completing your CSA profile.", new_csa_url  %></p>
	<% else %>
		<p>You have already set up your CSA. Go you!</p>
	<% end %>

<% else -%>
	<h1>Welcome to FarmBridge</h1>
	<br>
		
		<div id="leftbox">
		<h2>Help your CSA thrive:</h2>
		<p>FarmBridge provides tools for CSAs to easily manage memberships, subscriptions and work shifts.
			We also make it easier and more fun for CSA members to participate in the community.<a href="sample.html">  Learn more</a></p> 

		<h2>It's easy to get started</h2>
		<p>In three easy steps you can set-up your CSA.</p>
		<ol>
			<li>register as a CSA manager</li>
			<li>complete a CSA profile</li>
			<li>add your CSA offerings</li>
		</ol>
		<p>Now you're ready to get started. <%= link_to "Sign-up Here", signup_url %> </p>
		<p>[VIDEO SPACE HOLDER]</a></p>
		</div>

<div id="rightbox">
	<p>First time here?</p>
	<h1>Sign Up</h1>
	<p>Having a FarmBridge account already?</p>
	<h1>Log In</h1>
</div>

<% end -%>
