<h2>Info for <%= current_user %></h2>

<h3>CSAs</h3>
<% if current_user.csas.blank? %>
<p><em>none yet</em></p>
<% else %>
<ul>
  <% for csa in current_user.csas %>
    <li><%= csa %></li>
  <% end %>
</ul>
<% end %>