<h2>Info for <%= current_user %></h2>
<!-- We should have membership info that user supplied to the CSA so that the CSA manager can see the user's contact info or membership info.-->

<h3>Membership Profile </h3>
<p> Contact Email:
<p> Contact Phone:
<p> Membership Status:
<p> Address:
	

<h3>CSAs</h3>
<% if current_user.csas.blank? %>
<p><em>none yet</em></p>
<% else %>
<ul>
  <% for csa in current_user.csas %>
    <li><%= csa %></li>
  <% end %>
</ul>
<% end %>